* {
	margin: 0;
	padding: 0;
  }
  
  .header {
	margin-bottom: 20px;
  }
  
  .product {
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	height: 200px;
	width: 600px;
	margin-bottom: 20px;
	margin-left: 20px;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
		-ms-flex-direction: row;
			flex-direction: row;
	gap: 30px;
	border: 2px solid black;
  }
  .product__img {
	height: 150px;
	margin-left: 10px;
  }
  .product__wrap {
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
	gap: 10px;
  }